.header{
    background-color: red;
    color: white;
    padding: 10px;
}
.header .logo{width:10%;}
.header .text-header{
    width: 58%;
}
.header .icon-header{
    width:10%;
}

.header .text-header ul li{
    padding: 8px;
}

.header .text-header ul li i{
    font-size: 10px;
}
